.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-image: url(https://github.com/ilovespectra/phantom-for-vendors/blob/main/public/background.png?raw=true);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
  }

  
  .translucentBox {
    background-color: rgba(255, 255, 255, 0.2); /* Set the background color to white with 50% opacity */
    padding: 30px;
    border-radius: 30px;
  }
  
  
  .graphics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }
  
  .animation {
    margin-top: 2rem;
  }
  
  .animation svg {
    display: block;
    margin: 0 auto;
  }
  
